 <header class="header">

    
    <div class="logo">
      <div class="logo-icon">
        <img src="../../../../public/logo.jpeg" alt="Logo">
      </div>
  
      <span>Click Compras</span>
    </div>
  
  
    
    <button class="categorias">
      <i class="fa-solid fa-bars"></i>
  
      <span>Categorias</span>
  
      <i class="fa-solid fa-chevron-down arrow"></i>
    </button>
  
  
    
    <div class="search-container">
  
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
  
      <input
        type="text"
        placeholder="Buscar produtos, marcas e muito mais..."
      />
  
      <button class="search-button">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
  
    </div>
  
  
    
    <div class="user">
  
      <i class="fa-regular fa-user user-icon"></i>
  
      <div class="user-text">
        <small>Olá, faça seu login</small>
        <strong>Conta</strong>
      </div>
  
    </div>
  
  
    
    <div class="cart">
  
      <div class="cart-icon">
  
        <i class="fa-solid fa-cart-shopping"></i>
  
        <span class="cart-count">0</span>
  
      </div>
  
      <div class="cart-text">
        <small>Meu carrinho</small>
        <strong>R$ 1.849,90</strong>
      </div>
  
    </div>
  
  </header> 

